In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [2]:
data=pd.read_csv("data_cleaned.csv")
print(data.head())

   Unnamed: 0  id  year  age  tenure  hourly_wage  male  female  \
0           0   1  1979   20      41        328.0     0       1
1           2   1  1981   22     162        361.0     0       1
2          26   2  1979   20      42        385.0     0       1
3          27   2  1980   21      95        457.0     0       1
4          28   2  1981   22     146        514.0     0       1

   country_birth_US  age_45+        ...         industry_public_service  \
0              True      0.0        ...                           False
1              True      0.0        ...                           False
2             False      0.0        ...                           False
3             False      0.0        ...                           False
4             False      0.0        ...                           False

   industry_trade  industry_finance  industry_tech_service  \
0           False             False                  False
1           False             False                  False
2           False             False                  False
3           False             False                  False
4           False             False                  False

   industry_entertainment  industry_education  industry_healthcare  \
0                   False               False                False
1                   False               False                False
2                   False               False                False
3                   False               False                False
4                   False               False                False

   industry_other_service  industry_admin_military  industry_unknown
0                   False                    False              True
1                   False                    False              True
2                   False                    False              True
3                   False                    False              True
4                   False                    False              True

[5 rows x 68 columns]

In [14]:
data.columns

Index(['Unnamed: 0', 'id', 'year', 'age', 'tenure', 'hourly_wage', 'male',
       'female', 'country_birth_US', 'age_45+', 'age_30-45', 'age_30-',
       'race_hispanic', 'race_black', 'race_others', 'region_northeast',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown', 'tenure_3m', 'tenure_2y',
       'tenure_5y', 'tenure_10y', 'tenure_10y+', 'tenure_unknown', 'jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', 'occupation_tech',
       'occupation_sales', 'occupation_social_science',
       'occupation_manufacture_worker', 'occupation_military',
       'occupation_farmer', 'occupation_service', 'occupation_management',
       'occupation_entertainment', 'occupation_healthcare',
       'occupation_unknown', 'industry_agriculture', 'industry_mining',
       'industry_manufacture', 'industry_public_service', 'industry_trade',
       'industry_finance', 'industry_tech_service', 'industry_entertainment',
       'industry_education', 'industry_healthcare', 'industry_other_service',
       'industry_admin_military', 'industry_unknown', '80s', '90s', '00s'],
      dtype='object')

In [246]:
data[['industry_agriculture', 'industry_mining',
       'industry_manufacture', 'industry_public_service', 'industry_trade',
       'industry_finance', 'industry_tech_service', 'industry_entertainment',
       'industry_education', 'industry_healthcare', 'industry_other_service',
       'industry_admin_military', 'industry_unknown']].describe()

,industry_agriculture,industry_mining,industry_manufacture,industry_public_service,industry_trade,industry_finance,industry_tech_service,industry_entertainment,industry_education,industry_healthcare,industry_other_service,industry_admin_military,industry_unknown
count,191220,191220,191220,191220,191220,191220,191220,191220,191220,191220,191220,191220,191220
unique,2,2,2,2,2,2,2,2,2,2,2,2,2
top,False,False,False,False,False,False,False,False,False,False,False,False,True
freq,189053,189211,179147,184105,181828,188268,183265,190458,188070,186262,184364,188797,136853

In [255]:
df_90s[['industry_agriculture', 'industry_mining',
       'industry_manufacture', 'industry_public_service', 'industry_trade',
       'industry_finance', 'industry_tech_service', 'industry_entertainment',
       'industry_education', 'industry_healthcare', 'industry_other_service',
       'industry_admin_military', 'industry_unknown']].describe()

,industry_agriculture,industry_mining,industry_manufacture,industry_public_service,industry_trade,industry_finance,industry_tech_service,industry_entertainment,industry_education,industry_healthcare,industry_other_service,industry_admin_military,industry_unknown
count,52228,52228,52228,52228,52228,52228,52228,52228,52228,52228,52228,52228,52228
unique,2,2,2,2,2,2,2,2,1,1,2,1,2
top,False,False,False,False,False,False,False,False,False,False,False,False,True
freq,51497,51559,50446,50320,51117,51826,49970,52116,52228,52228,51936,52228,45026

In [254]:
df_00s[['industry_agriculture', 'industry_mining',
       'industry_manufacture', 'industry_public_service', 'industry_trade',
       'industry_finance', 'industry_tech_service', 'industry_entertainment',
       'industry_education', 'industry_healthcare', 'industry_other_service',
       'industry_admin_military', 'industry_unknown']].describe()

,industry_agriculture,industry_mining,industry_manufacture,industry_public_service,industry_trade,industry_finance,industry_tech_service,industry_entertainment,industry_education,industry_healthcare,industry_other_service,industry_admin_military,industry_unknown
count,49071,49071,49071,49071,49071,49071,49071,49071,49071,49071,49071,49071,49071
unique,2,2,2,2,2,2,2,2,2,2,2,2,2
top,False,False,False,False,False,False,False,False,False,False,False,False,False
freq,47635,47731,38780,43864,40790,46521,43374,48421,45921,44113,42507,46648,47165

In [5]:
data['80s']=((data['year']>1979) & (data['year']<1990))

In [6]:
data['90s']=((data['year']>=1990) & (data['year']<2000))
data['00s']=(data['year']>=2000)
data.head(2)

,Unnamed: 0,id,year,age,tenure,hourly_wage,male,female,country_birth_US,age_45+,...,industry_tech_service,industry_entertainment,industry_education,industry_healthcare,industry_other_service,industry_admin_military,industry_unknown,80s,90s,00s
0,0,1,1979,20,41,328.0,0,1,True,0.0,...,False,False,False,False,False,False,True,False,False,False
1,2,1,1981,22,162,361.0,0,1,True,0.0,...,False,False,False,False,False,False,True,True,False,False

In [10]:
# get only values per decade
data_80s= data['80s']==1
df_80s=data[data_80s]
print(df_80s.shape)

(85264, 71)

In [11]:
data_90s= data['90s']==1
df_90s=data[data_90s]
print(df_90s.shape)

(52228, 71)

In [12]:
data_00s= data['00s']==1
df_00s=data[data_00s]
print(df_00s.shape)

(49071, 71)

## 90's and 00's industries

### manufacture

In [256]:
# get only values per decade
manufacture= df_90s['industry_manufacture']==1
df_m_90s=df_90s[manufacture]
print(df_m_90s.shape)

(1782, 71)

In [257]:
manufacture_00s= df_00s['industry_manufacture']==1
df_m_00s=df_00s[manufacture_00s]
print(df_m_00s.shape)

(10291, 71)

### Public Service

In [258]:
pub_service= df_90s['industry_public_service']==1
df_ps_90s=df_90s[pub_service]
print(df_ps_90s.shape)

(1908, 71)

In [259]:
pub_service_00s= df_00s['industry_public_service']==1
df_ps_00s=df_00s[pub_service_00s]
print(df_ps_00s.shape)

(5207, 71)

# Logistic regression
## 80's data by gender

In [263]:
# Set X and y 
X= df_80s[['id', 'year', 'age', 'tenure', 'hourly_wage',
        'country_birth_US', 'age_45+', 'age_30-45', 'age_30-',
       'race_hispanic', 'race_black', 'race_others', 'region_northeast',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown','jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', 'occupation_tech',
       'occupation_sales', 'occupation_social_science',
       'occupation_manufacture_worker', 'occupation_military',
       'occupation_farmer', 'occupation_service', 'occupation_management',
       'occupation_entertainment', 'occupation_healthcare',
       'occupation_unknown', 'industry_agriculture', 'industry_mining',
       'industry_manufacture', 'industry_public_service', 'industry_trade',
       'industry_finance', 'industry_tech_service', 'industry_entertainment',
       'industry_education', 'industry_healthcare', 'industry_other_service',
       'industry_admin_military', 'industry_unknown']]
y=df_80s['male']

In [237]:
# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# initialize classifier
classifier = LogisticRegression()

In [238]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [239]:
classifier.score(X_test,y_test)

0.5828954775755301

In [34]:
# get predictions vs true label
confidence= classifier.decision_function(X_test)
predictions = classifier.predict(X_test)
results=pd.DataFrame({"Prediction": predictions, "Actual": y_test, "Confidence score": confidence })
print(results.head(10))

        Prediction  Actual  Confidence score
163592           1       0          0.296520
48516            1       1          0.920576
39354            0       0         -0.149996
149361           1       0          0.666270
59590            0       0         -0.126341
68268            1       1          0.669429
105261           1       1          0.418071
100102           0       1         -0.130211
127252           0       0         -0.354125
132310           0       1         -0.655080

## 80s data by race

In [240]:
# Set X and y 
X= df_80s[['id', 'year', 'age', 'tenure', 'hourly_wage',
        'country_birth_US', 'age_45+', 'age_30-45', 'age_30-',
       'male', 'female', 'region_northeast',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown', 'jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', 'occupation_tech',
       'occupation_sales', 'occupation_social_science',
       'occupation_manufacture_worker', 'occupation_military',
       'occupation_farmer', 'occupation_service', 'occupation_management',
       'occupation_entertainment', 'occupation_healthcare',
       'occupation_unknown', 'industry_agriculture', 'industry_mining',
       'industry_manufacture', 'industry_public_service', 'industry_trade',
       'industry_finance', 'industry_tech_service', 'industry_entertainment',
       'industry_education', 'industry_healthcare', 'industry_other_service',
       'industry_admin_military', 'industry_unknown']]
print(X.shape)

(85264, 58)

In [241]:
race=df_80s[['race_hispanic', 'race_black', 'race_others']]
race['race2']=(race["race_black"]*2)
race['race3']= (race["race_others"]*3)
race= race.assign(All = lambda x: x['race_hispanic']+ x['race2']+ x['race3'])
y=race['All']
print(y.shape)

(85264,)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [242]:
# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# initialize classifier
classifier = LogisticRegression()

In [244]:
classifier.fit(X_train, y_train)

classifier.score(X_test,y_test)

0.6410677425408144

In [ ]:
# get predictions vs true label
confidence= classifier.decision_function(X_test)
predictions = classifier.predict(X_test)
results=pd.DataFrame({"Prediction": predictions, "Actual": y_test, "Confidence_hispanic": confidence[:,0], "Confidence_black": confidence[:,1],"Confidence_others": confidence[:,2] })
print(results.head(10))

## 90's data by gender

In [59]:
# Set X and y 
X= df_90s[['id', 'year', 'age', 'tenure', 'hourly_wage',
        'country_birth_US', 'age_45+', 'age_30-45', 'age_30-',
       'race_hispanic', 'race_black', 'race_others', 'region_northeast',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown','jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', 'occupation_tech',
       'occupation_sales', 'occupation_social_science',
       'occupation_manufacture_worker', 'occupation_military',
       'occupation_farmer', 'occupation_service', 'occupation_management',
       'occupation_entertainment', 'occupation_healthcare',
       'occupation_unknown', 'industry_agriculture', 'industry_mining',
       'industry_manufacture', 'industry_public_service', 'industry_trade',
       'industry_finance', 'industry_tech_service', 'industry_entertainment',
       'industry_education', 'industry_healthcare', 'industry_other_service',
       'industry_admin_military', 'industry_unknown']]
y=df_90s['male']

In [60]:
# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# initialize classifier
classifier = LogisticRegression()

In [62]:
classifier.fit(X_train, y_train)

classifier.score(X_test,y_test)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=42,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [ ]:
# Set X and y by manufacture industry
X_i= df_m_90s[['id', 'year', 'age', 'tenure', 'hourly_wage','country_birth_US',
       'race_hispanic', 'race_black', 'race_others', 'region_northeast',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown', 'jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown',
       'industry_manufacture', 'industry_public_service']]
y=df_m_90s['male']

# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_i, y)

# initialize classifier
classifier = LogisticRegression()

classifier.fit(X_train, y_train)
classifier.score(X_test,y_test)

# Gender Discrimination?

## Aggregated data  by id
 To compare only by individuals, we aggregate data by id and decade as a proxy of average wages and mode of occupation and industry by respondent
## 80s data

In [70]:

df80s_1= df_80s.groupby(['id'])['hourly_wage','tenure','age'].mean()
df80s_1.head(5)

    hourly_wage  tenure        age
id
1       361.000  162.00  22.000000
2       702.300   44.50  25.500000
3       360.500   15.50  23.166667
4       815.400    6.80  23.400000
5      1303.875   38.25  24.125000

In [75]:
df80s_max= df_80s.groupby(['id']).max()
del df80s_max['tenure']
del df80s_max['age']
del df80s_max['hourly_wage']
del df80s_max['year']

del df80s_max['80s']
del df80s_max['90s']
del df80s_max['00s']

df80s_max.head(5)

,Unnamed: 0,male,female,country_birth_US,age_45+,age_30-45,age_30-,race_hispanic,race_black,race_others,...,industry_tech_service,industry_entertainment,industry_education,industry_healthcare,industry_other_service,industry_admin_military,industry_unknown,80s,90s,00s
id,,,,,,,,,,,,,,,,,,,,,
1,2,0,1,True,0.0,0.0,1.0,0,0,1.0,...,False,False,False,False,False,False,True,True,False,False
2,36,0,1,False,0.0,1.0,1.0,0,0,1.0,...,False,False,False,False,False,False,True,True,False,False
3,62,0,1,True,0.0,0.0,1.0,0,0,1.0,...,False,False,False,False,False,False,True,True,False,False
4,88,0,1,True,0.0,0.0,1.0,0,0,1.0,...,False,False,False,False,False,False,True,True,False,False
5,114,1,0,True,0.0,0.0,1.0,0,0,1.0,...,False,False,False,False,False,False,True,True,False,False

In [77]:
df_80s_agg =df80s_max.join(df80s_1, on='id',how='inner')

In [166]:
# Set X and y 
X= df_80s_agg[['age', 'tenure', 'hourly_wage',
        'country_birth_US', 'race_hispanic', 'race_black', 'race_others', 'region_northeast',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown', 'jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', 'occupation_tech',
       'occupation_sales', 'occupation_social_science',
       'occupation_manufacture_worker', 'occupation_military',
       'occupation_farmer', 'occupation_service', 'occupation_management',
       'occupation_entertainment', 'occupation_healthcare',
       'occupation_unknown', 'industry_agriculture', 'industry_mining',
       'industry_manufacture', 'industry_public_service', 'industry_trade',
       'industry_finance', 'industry_tech_service', 'industry_entertainment',
       'industry_education', 'industry_healthcare', 'industry_other_service',
       'industry_admin_military', 'industry_unknown']]
y=df_80s_agg['male']

In [171]:
y.mean()

0.5101938919863527

In [167]:
# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# initialize classifier
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
score_gen_80s=classifier.score(X_test,y_test)
score_gen_80s

0.6525790349417637

In [82]:
# get predictions vs true label
confidence= classifier.decision_function(X_test)
predictions = classifier.predict(X_test)
results=pd.DataFrame({"Prediction": predictions, "Actual": y_test, "Confidence score": confidence })
print(results.head(10))

       Prediction  Actual  Confidence score
id
6390            0       1         -0.168780
4794            0       1         -0.015868
8752            1       0          1.031706
6689            1       1          0.871074
450             1       1          0.861123
12268           1       0          0.117272
2774            0       1         -0.769729
10455           0       1         -1.069678
7247            0       0         -1.651420
7893            0       0         -1.646029

## 90's data

In [83]:
df90s_1= df_90s.groupby(['id'])['hourly_wage','tenure','age'].mean()
df90s_max= df_90s.groupby(['id']).max()
del df90s_max['tenure']
del df90s_max['age']
del df90s_max['hourly_wage']
del df90s_max['year']
df_90s_agg =df90s_max.join(df90s_1, on='id',how='inner')

In [172]:
# Set X and y 
X= df_90s_agg[['age', 'tenure', 'hourly_wage',
        'country_birth_US', 'race_hispanic', 'race_black', 'race_others', 'region_northeast',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown','jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', 'occupation_tech',
       'occupation_sales', 'occupation_social_science',
       'occupation_manufacture_worker', 'occupation_military',
       'occupation_farmer', 'occupation_service', 'occupation_management',
       'occupation_entertainment', 'occupation_healthcare',
       'occupation_unknown', 'industry_agriculture', 'industry_mining',
       'industry_manufacture', 'industry_public_service', 'industry_trade',
       'industry_finance', 'industry_tech_service', 'industry_entertainment',
       'industry_education', 'industry_healthcare', 'industry_other_service',
       'industry_admin_military', 'industry_unknown']]
y=df_90s_agg['male']

In [173]:
y.mean()

0.5042935206869633

In [174]:
# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# initialize classifier
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
score_gen_90s=classifier.score(X_test,y_test)
score_gen_90s

0.7474629195940672

In [86]:
# get predictions vs true label
confidence= classifier.decision_function(X_test)
predictions = classifier.predict(X_test)
results=pd.DataFrame({"Prediction": predictions, "Actual": y_test, "Confidence score": confidence })
print(results.head(10))

       Prediction  Actual  Confidence score
id
10057           1       1          0.422434
12528           0       1         -0.166736
1879            1       0          0.286890
6267            0       0         -1.343249
1278            1       1          1.960258
9154            0       1         -0.041661
3636            0       0         -1.252530
9427            1       1          0.811150
4789            1       1          0.764638
39              1       1          1.133261

## 00's data

In [177]:
df00s_1= df_00s.groupby(['id'])['hourly_wage','tenure','age'].mean()
df00s_max= df_00s.groupby(['id']).max()
del df00s_max['tenure']
del df00s_max['age']
del df00s_max['hourly_wage']
del df00s_max['year']
df_00s_agg =df00s_max.join(df00s_1, on='id',how='inner')

# Set X and y 
X= df_00s_agg[['age', 'tenure', 'hourly_wage',
        'country_birth_US', 'race_hispanic', 'race_black', 'race_others', 'region_northeast',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown', 'jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', 'occupation_tech',
       'occupation_sales', 'occupation_social_science',
       'occupation_manufacture_worker', 'occupation_military',
       'occupation_farmer', 'occupation_service', 'occupation_management',
       'occupation_entertainment', 'occupation_healthcare',
       'occupation_unknown', 'industry_agriculture', 'industry_mining',
       'industry_manufacture', 'industry_public_service', 'industry_trade',
       'industry_finance', 'industry_tech_service', 'industry_entertainment',
       'industry_education', 'industry_healthcare', 'industry_other_service',
       'industry_admin_military', 'industry_unknown']]
y=df_00s_agg['male']

In [178]:
y.mean()

0.5012606555408813

In [179]:
# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# initialize classifier
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
score_gen_00s=classifier.score(X_test,y_test)
score_gen_00s

0.7335573691790687

In [89]:
# get predictions vs true label
confidence= classifier.decision_function(X_test)
predictions = classifier.predict(X_test)
results=pd.DataFrame({"Prediction": predictions, "Actual": y_test, "Confidence score": confidence })
print(results.head(10))

      Prediction  Actual  Confidence score
id
9368           1       1          0.803457
7220           0       0         -0.461426
3258           1       1          0.484380
2975           1       1          0.319355
8098           1       1          2.508199
4825           0       1         -0.070508
1041           0       0         -3.188001
4823           0       1         -0.011867
6028           0       0         -0.253123
4569           1       1          0.719917

## By industry? 90's vs 00's

In [266]:
# 90's
df90s_1= df_m_90s.groupby(['id'])['hourly_wage','tenure','age'].mean()
df90s_max= df_m_90s.groupby(['id']).max()
del df90s_max['tenure']
del df90s_max['age']
del df90s_max['hourly_wage']
del df90s_max['year']
df_90s_agg =df90s_max.join(df90s_1, on='id',how='inner')

In [267]:
# Set X and y 
X= df_90s_agg[['age', 'tenure', 'hourly_wage',
        'country_birth_US', 'race_hispanic', 'race_black', 'race_others', 'region_northeast',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown','jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', ]]
y=df_90s_agg['male']
y.mean()

0.7272727272727273

In [268]:
# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# initialize classifier
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
score_gen_90s=classifier.score(X_test,y_test)
score_gen_90s

0.7331838565022422

In [269]:
# 00's

df90s_1= df_m_00s.groupby(['id'])['hourly_wage','tenure','age'].mean()
df90s_max= df_m_00s.groupby(['id']).max()
del df90s_max['tenure']
del df90s_max['age']
del df90s_max['hourly_wage']
del df90s_max['year']
df_00s_agg =df90s_max.join(df90s_1, on='id',how='inner')

# Set X and y 
X= df_00s_agg[['age', 'tenure', 'hourly_wage',
        'country_birth_US', 'race_hispanic', 'race_black', 'race_others', 'region_northeast',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown','jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', ]]
y=df_00s_agg['male']
y.mean()

0.7198228128460686

In [270]:
# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# initialize classifier
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
score_gen_00s=classifier.score(X_test,y_test)
score_gen_00s

0.7477876106194691

In [271]:
# 90's Public Services
df90s_1= df_ps_90s.groupby(['id'])['hourly_wage','tenure','age'].mean()
df90s_max= df_ps_90s.groupby(['id']).max()
del df90s_max['tenure']
del df90s_max['age']
del df90s_max['hourly_wage']
del df90s_max['year']
df_90s_agg =df90s_max.join(df90s_1, on='id',how='inner')

In [272]:
# Set X and y 
X= df_90s_agg[['age', 'tenure', 'hourly_wage',
        'country_birth_US', 'race_hispanic', 'race_black', 'race_others', 'region_northeast',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown','jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', ]]
y=df_90s_agg['male']
y.mean()

0.5445492662473794

In [273]:
# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# initialize classifier
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
score_gen_90s=classifier.score(X_test,y_test)
score_gen_90s

0.6561844863731656

In [274]:
# 00's

df90s_1= df_ps_00s.groupby(['id'])['hourly_wage','tenure','age'].mean()
df90s_max= df_ps_00s.groupby(['id']).max()
del df90s_max['tenure']
del df90s_max['age']
del df90s_max['hourly_wage']
del df90s_max['year']
df_00s_agg =df90s_max.join(df90s_1, on='id',how='inner')

# Set X and y 
X= df_00s_agg[['age', 'tenure', 'hourly_wage',
        'country_birth_US', 'race_hispanic', 'race_black', 'race_others', 'region_northeast',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown','jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', ]]
y=df_00s_agg['male']
y.mean()

0.5384615384615384

In [276]:
# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# initialize classifier
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
score_gen_00s=classifier.score(X_test,y_test)
score_gen_00s

0.6036036036036037

# Race discrimination?

## 80's data

In [180]:
# Set X and y 
X= df_80s_agg[['age', 'tenure', 'hourly_wage',
        'country_birth_US', 'male',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown','jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', 'occupation_tech',
       'occupation_sales', 'occupation_social_science',
       'occupation_manufacture_worker', 'occupation_military',
       'occupation_farmer', 'occupation_service', 'occupation_management',
       'occupation_entertainment', 'occupation_healthcare',
       'occupation_unknown', 'industry_agriculture', 'industry_mining',
       'industry_manufacture', 'industry_public_service', 'industry_trade',
       'industry_finance', 'industry_tech_service', 'industry_entertainment',
       'industry_education', 'industry_healthcare', 'industry_other_service',
       'industry_admin_military', 'industry_unknown']]
print(X.shape)

(12017, 52)

In [181]:
race=df_80s[['id','race_hispanic', 'race_black', 'race_others']]
race['race2']=(race["race_black"]*2)
race['race3']= (race["race_others"]*3)
race= race.assign(All = lambda x: x['race_hispanic']+ x['race2']+ x['race3'])
y=race.groupby(['id'])['All'].max()
print(y.shape)

(12017,)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [182]:
y.describe()

count    12017.000000
mean         2.434884
std          0.750571
min          1.000000
25%          2.000000
50%          3.000000
75%          3.000000
max          3.000000
Name: All, dtype: float64

In [183]:
# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# initialize classifier
classifier = LogisticRegression()

classifier.fit(X_train, y_train)

score_race_80s=classifier.score(X_test,y_test)
score_race_80s

0.6455906821963394

In [ ]:
# get predictions vs true label
confidence= classifier.decision_function(X_test)
predictions = classifier.predict(X_test)
results=pd.DataFrame({"Prediction": predictions, "Actual": y_test, "Confidence_hispanic": confidence[:,0], "Confidence_black": confidence[:,1],"Confidence_others": confidence[:,2] })
print(results.head(10))

## 90's data

In [184]:
# Set X and y 
X= df_90s_agg[['age', 'tenure', 'hourly_wage',
        'country_birth_US', 'male',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown', 'jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', 'occupation_tech',
       'occupation_sales', 'occupation_social_science',
       'occupation_manufacture_worker', 'occupation_military',
       'occupation_farmer', 'occupation_service', 'occupation_management',
       'occupation_entertainment', 'occupation_healthcare',
       'occupation_unknown', 'industry_agriculture', 'industry_mining',
       'industry_manufacture', 'industry_public_service', 'industry_trade',
       'industry_finance', 'industry_tech_service', 'industry_entertainment',
       'industry_education', 'industry_healthcare', 'industry_other_service',
       'industry_admin_military', 'industry_unknown']]
print(X.shape)

(10248, 52)

In [185]:
race=df_90s[['id','race_hispanic', 'race_black', 'race_others']]
race['race2']=(race["race_black"]*2)
race['race3']= (race["race_others"]*3)
race= race.assign(All = lambda x: x['race_hispanic']+ x['race2']+ x['race3'])
y=race.groupby(['id'])['All'].max()
print(y.shape)

(10248,)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [186]:
y.describe()

count    10248.000000
mean         2.393735
std          0.762155
min          1.000000
25%          2.000000
50%          3.000000
75%          3.000000
max          3.000000
Name: All, dtype: float64

In [187]:
# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# initialize classifier
classifier = LogisticRegression()

classifier.fit(X_train, y_train)
score_race_90s=classifier.score(X_test,y_test)
score_race_90s

0.6545667447306791

In [98]:
# get predictions vs true label
confidence= classifier.decision_function(X_test)
predictions = classifier.predict(X_test)
results=pd.DataFrame({"Prediction": predictions, "Actual": y_test, "Confidence_hispanic": confidence[:,0], "Confidence_black": confidence[:,1],"Confidence_others": confidence[:,2] })
print(results.head(10))

## 00's data

In [188]:
# Set X and y 
X= df_00s_agg[['age', 'tenure', 'hourly_wage',
        'country_birth_US', 'male',
       'region_northcentral', 'region_south', 'region_west', 'region_unknown',
       'marital_never', 'marital_spouse_present', 'marital_others',
       'edu_highschool-', 'edu_highschool', 'edu_undergraduate',
       'edu_undergraduate+', 'edu_unknown', 'employment_employed',
       'employment_unemployed', 'employment_out_laborforce',
       'employment_active', 'employment_unknown', 'jobs_2-',
       'jobs_5', 'jobs_10', 'jobs_10+', 'jobs_unknown', 'occupation_tech',
       'occupation_sales', 'occupation_social_science',
       'occupation_manufacture_worker', 'occupation_military',
       'occupation_farmer', 'occupation_service', 'occupation_management',
       'occupation_entertainment', 'occupation_healthcare',
       'occupation_unknown', 'industry_agriculture', 'industry_mining',
       'industry_manufacture', 'industry_public_service', 'industry_trade',
       'industry_finance', 'industry_tech_service', 'industry_entertainment',
       'industry_education', 'industry_healthcare', 'industry_other_service',
       'industry_admin_military', 'industry_unknown']]
print(X.shape)

(8329, 52)

In [189]:
race=df_00s[['id','race_hispanic', 'race_black', 'race_others']]
race['race2']=(race["race_black"]*2)
race['race3']= (race["race_others"]*3)
race= race.assign(All = lambda x: x['race_hispanic']+ x['race2']+ x['race3'])
y=race.groupby(['id'])['All'].max()
print(y.shape)

(8329,)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [190]:
y.describe()

count    8329.000000
mean        2.310722
std         0.774988
min         1.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         3.000000
Name: All, dtype: float64

In [191]:
# split training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [192]:
# initialize classifier
classifier = LogisticRegression()

classifier.fit(X_train, y_train)

score_race_00s=classifier.score(X_test,y_test)
score_race_00s

0.6442630820931349

In [116]:
# get predictions vs true label
confidence= classifier.decision_function(X_test)
predictions = classifier.predict(X_test)
results=pd.DataFrame({"Prediction": predictions, "Actual": y_test, "Confidence_hispanic": confidence[:,0], "Confidence_black": confidence[:,1],"Confidence_others": confidence[:,2] })
print(results.head(10))

# Unsupervised learning
## Clustering
We will use k-means to see if there are clear clusters in the data which may lead to discrimination insights

In [193]:
full_80s= df_80s_agg[['male', 'country_birth_US', 'race_hispanic', 'race_black', 'race_others',
       'region_northeast', 'region_northcentral', 'region_south',
       'region_west', 'region_unknown', 'marital_never',
       'marital_spouse_present', 'marital_others', 'edu_highschool-',
       'edu_highschool', 'edu_undergraduate', 'edu_undergraduate+',
       'edu_unknown', 'employment_employed', 'employment_unemployed',
       'employment_out_laborforce', 'employment_active', 'employment_unknown',
        'jobs_2-', 'jobs_5', 'jobs_10', 'jobs_10+',
       'jobs_unknown', 'occupation_tech', 'occupation_sales',
       'occupation_social_science', 'occupation_manufacture_worker',
       'occupation_military', 'occupation_farmer', 'occupation_service',
       'occupation_management', 'occupation_entertainment',
       'occupation_healthcare', 'occupation_unknown', 'industry_agriculture',
       'industry_mining', 'industry_manufacture', 'industry_public_service',
       'industry_trade', 'industry_finance', 'industry_tech_service',
       'industry_entertainment', 'industry_education', 'industry_healthcare',
       'industry_other_service', 'industry_admin_military', 'industry_unknown',
        'hourly_wage', 'tenure', 'age']]

In [210]:
full_80s.shape

(12017, 55)

In [233]:
# split training and testing sets
X_train, X_test= train_test_split(full_80s)

In [234]:
kmeans2 = KMeans(n_clusters=2, max_iter=500).fit(X_train)
kmeans3 = KMeans(n_clusters=3, max_iter=500).fit(X_train)

kmeans5 = KMeans(n_clusters=5, max_iter=500).fit(X_train)
kmeans8 = KMeans(n_clusters=8, max_iter=500).fit(X_train)
kmeans12 = KMeans(n_clusters=12, max_iter=500).fit(X_train)

In [235]:

score2_80s=kmeans2.score(X_test)
score3_80s=kmeans3.score(X_test)
score5_80s=kmeans5.score(X_test)
score8_80s=kmeans8.score(X_test)
score12_80s=kmeans12.score(X_test)
print(f'2 Clusters: {score2_80s}, 3 Clusters: {score3_80s}, 5 Clusters: {score5_80s}')
print(f'8 Clusters: {score8_80s}, 12 Clusters: {score12_80s}')

2 Clusters: -12036758887.979412, 3 Clusters: -10364190929.007359, 5 Clusters: -1791617052.8054478
8 Clusters: -862712931.2867454, 12 Clusters: -373758606.6211225

## 90's data

In [198]:
full_90s= df_90s_agg[['male', 'country_birth_US', 'race_hispanic', 'race_black', 'race_others',
       'region_northeast', 'region_northcentral', 'region_south',
       'region_west', 'region_unknown', 'marital_never',
       'marital_spouse_present', 'marital_others', 'edu_highschool-',
       'edu_highschool', 'edu_undergraduate', 'edu_undergraduate+',
       'edu_unknown', 'employment_employed', 'employment_unemployed',
       'employment_out_laborforce', 'employment_active', 'employment_unknown',
        'jobs_2-', 'jobs_5', 'jobs_10', 'jobs_10+',
       'jobs_unknown', 'occupation_tech', 'occupation_sales',
       'occupation_social_science', 'occupation_manufacture_worker',
       'occupation_military', 'occupation_farmer', 'occupation_service',
       'occupation_management', 'occupation_entertainment',
       'occupation_healthcare', 'occupation_unknown', 'industry_agriculture',
       'industry_mining', 'industry_manufacture', 'industry_public_service',
       'industry_trade', 'industry_finance', 'industry_tech_service',
       'industry_entertainment', 'industry_education', 'industry_healthcare',
       'industry_other_service', 'industry_admin_military', 'industry_unknown',
        'hourly_wage', 'tenure', 'age']]

In [226]:
# split training and testing sets
X_train, X_test= train_test_split(full_90s)

In [227]:
kmeans2 = KMeans(n_clusters=2, max_iter=500).fit(X_train)
kmeans3 = KMeans(n_clusters=3, max_iter=500).fit(X_train)

kmeans5 = KMeans(n_clusters=5, max_iter=500).fit(X_train)
kmeans8 = KMeans(n_clusters=8, max_iter=500).fit(X_train)
kmeans12 = KMeans(n_clusters=12, max_iter=500).fit(X_train)

In [231]:
score2_90s=kmeans2.score(X_test)
score3_90s=kmeans3.score(X_test)
score5_90s=kmeans5.score(X_test)
score8_90s=kmeans8.score(X_test)
score12_90s=kmeans12.score(X_test)
print(f'2 Clusters: {score2_90s}, 3 Clusters: {score3_90s}, 5 Clusters: {score5_90s}')
print(f'8 Clusters: {score8_90s}, 12 Clusters: {score12_90s}')

2 Clusters: -800016840102.57, 3 Clusters: -526133032686.537, 5 Clusters: -522759539777.9159
8 Clusters: -412333148967.5574, 12 Clusters: -411029105713.47217

## 00's data

In [203]:
full_00s= df_00s_agg[['male', 'country_birth_US', 'race_hispanic', 'race_black', 'race_others',
       'region_northeast', 'region_northcentral', 'region_south',
       'region_west', 'region_unknown', 'marital_never',
       'marital_spouse_present', 'marital_others', 'edu_highschool-',
       'edu_highschool', 'edu_undergraduate', 'edu_undergraduate+',
       'edu_unknown', 'employment_employed', 'employment_unemployed',
       'employment_out_laborforce', 'employment_active', 'employment_unknown',
        'jobs_2-', 'jobs_5', 'jobs_10', 'jobs_10+',
       'jobs_unknown', 'occupation_tech', 'occupation_sales',
       'occupation_social_science', 'occupation_manufacture_worker',
       'occupation_military', 'occupation_farmer', 'occupation_service',
       'occupation_management', 'occupation_entertainment',
       'occupation_healthcare', 'occupation_unknown', 'industry_agriculture',
       'industry_mining', 'industry_manufacture', 'industry_public_service',
       'industry_trade', 'industry_finance', 'industry_tech_service',
       'industry_entertainment', 'industry_education', 'industry_healthcare',
       'industry_other_service', 'industry_admin_military', 'industry_unknown',
        'hourly_wage', 'tenure', 'age']]

In [224]:
# split training and testing sets
X_train, X_test= train_test_split(full_00s)

kmeans2 = KMeans(n_clusters=2, max_iter=500).fit(X_train)
kmeans3 = KMeans(n_clusters=3, max_iter=500).fit(X_train)

kmeans5 = KMeans(n_clusters=5, max_iter=500).fit(X_train)
kmeans8 = KMeans(n_clusters=8, max_iter=500).fit(X_train)
kmeans12 = KMeans(n_clusters=12, max_iter=500).fit(X_train)
kmeans20 = KMeans(n_clusters=20, max_iter=500).fit(X_train)

In [225]:
score2_00s=kmeans2.score(X_test)
score3_00s=kmeans3.score(X_test)
score5_00s=kmeans5.score(X_test)
score8_00s=kmeans8.score(X_test)
score12_00s=kmeans12.score(X_test)
score20_00s=kmeans20.score(X_test)
print(f'2 Clusters: {score2_00s}, 3 Clusters: {score3_00s}, 5 Clusters: {score5_00s}')
print(f'8 Clusters: {score8_00s}, 12 Clusters: {score12_00s}, 20 Clusters: {score20_00s}')

2 Clusters: -11273893421.565367, 3 Clusters: -7244932070.462444, 5 Clusters: -2087414786.3423307
8 Clusters: -741004694.7123319, 12 Clusters: -469410188.8905561, 20 Clusters: -275388552.5507673

In [277]:
full_00s= df_00s_agg[['male', 'country_birth_US', 'race_hispanic', 'race_black', 'race_others',
       'region_northeast', 'region_northcentral', 'region_south',
       'region_west', 'region_unknown', 'marital_never',
       'marital_spouse_present', 'marital_others', 'edu_highschool-',
       'edu_highschool', 'edu_undergraduate', 'edu_undergraduate+',
       'edu_unknown', 'employment_employed', 'employment_unemployed',
       'employment_out_laborforce', 'employment_active', 'employment_unknown',
        'jobs_2-', 'jobs_5', 'jobs_10', 'jobs_10+',
       'jobs_unknown', 'hourly_wage', 'tenure', 'age']]

In [278]:
# split training and testing sets
X_train, X_test= train_test_split(full_00s)

kmeans2 = KMeans(n_clusters=2, max_iter=500).fit(X_train)
kmeans3 = KMeans(n_clusters=3, max_iter=500).fit(X_train)

kmeans5 = KMeans(n_clusters=5, max_iter=500).fit(X_train)
kmeans8 = KMeans(n_clusters=8, max_iter=500).fit(X_train)
kmeans12 = KMeans(n_clusters=12, max_iter=500).fit(X_train)
kmeans20 = KMeans(n_clusters=20, max_iter=500).fit(X_train)

In [279]:
score2_00s=kmeans2.score(X_test)
score3_00s=kmeans3.score(X_test)
score5_00s=kmeans5.score(X_test)
score8_00s=kmeans8.score(X_test)
score12_00s=kmeans12.score(X_test)
score20_00s=kmeans20.score(X_test)
print(f'2 Clusters: {score2_00s}, 3 Clusters: {score3_00s}, 5 Clusters: {score5_00s}')
print(f'8 Clusters: {score8_00s}, 12 Clusters: {score12_00s}, 20 Clusters: {score20_00s}')

2 Clusters: -1243424995.441907, 3 Clusters: -651267549.996424, 5 Clusters: -320155587.9191253
8 Clusters: -228502380.0115912, 12 Clusters: -122969456.31980956, 20 Clusters: -76178230.898972