In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
raw_data=pd.read_csv("../data.csv")

In [3]:
print(raw_data.head())

   id  year  gender  country_birth  age  race  region  marital_status  \
0   1  1979       2              1   20     3       1               1
1   1  1980       2              1   21     3      -5              -5
2   1  1981       2              1   22     3       1               1
3   1  1982       2              1   23     3      -5              -5
4   1  1983       2              1   24     3      -5              -5

   highest_grade  employment_status  main_job_num  tenure  total_jobs  \
0             12                  1             2      41         2.0
1             -4                 -5            -4      -4         2.0
2             12                  1             2     162         2.0
3             -4                 -5            -4      -4         2.0
4             -4                 -5            -4      -4         2.0

   pay_rate  hourly_wage  occupation_main  industry  sample_id
0     12500          328              325        -4          5
1        -4           -4               -5        -4          5
2     27500          361               -4        -4          5
3        -4           -4               -5        -4          5
4        -4           -4               -5        -4          5

In [4]:
raw_data.columns

Index(['id', 'year', 'gender', 'country_birth', 'age', 'race', 'region',
       'marital_status', 'highest_grade', 'employment_status', 'main_job_num',
       'tenure', 'total_jobs', 'pay_rate', 'hourly_wage', 'occupation_main',
       'industry', 'sample_id'],
      dtype='object')

In [ ]:
import sklearn